<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Resale</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginS</display-name>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>rnsec.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/LoginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupS</display-name>
    <servlet-name>SignupS</servlet-name>
    <servlet-class>SignupS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupS</servlet-name>
    <url-pattern>/SignupS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignS</display-name>
    <servlet-name>SignS</servlet-name>
    <servlet-class>rnsec.SignS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignS</servlet-name>
    <url-pattern>/SignS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetS</display-name>
    <servlet-name>ForgetS</servlet-name>
    <servlet-class>rnsec.ForgetS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetS</servlet-name>
    <url-pattern>/ForgetS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetpassS</display-name>
    <servlet-name>ForgetpassS</servlet-name>
    <servlet-class>rnsec.ForgetpassS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetpassS</servlet-name>
    <url-pattern>/ForgetpassS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassS</display-name>
    <servlet-name>ChangePassS</servlet-name>
    <servlet-class>rnsec.ChangePassS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassS</servlet-name>
    <url-pattern>/ChangePassS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadS</display-name>
    <servlet-name>UploadS</servlet-name>
    <servlet-class>rnsec.UploadS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadS</servlet-name>
    <url-pattern>/UploadS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminuserS</display-name>
    <servlet-name>adminuserS</servlet-name>
    <servlet-class>rnsec.adminuserS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminuserS</servlet-name>
    <url-pattern>/adminuserS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OldPassS</display-name>
    <servlet-name>OldPassS</servlet-name>
    <servlet-class>rnsec.OldPassS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldPassS</servlet-name>
    <url-pattern>/OldPassS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchS</display-name>
    <servlet-name>SearchS</servlet-name>
    <servlet-class>rnsec.SearchS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchS</servlet-name>
    <url-pattern>/SearchS</url-pattern>
  </servlet-mapping>
</web-app>